/* _base.scss => initial configurations and declarations */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px, 10px / 16px = 62.5%
}

body {
  box-sizing: border-box;
  background-color: var(--color-grey-light-1);
  
  min-height: 100vh;
}
