/* main.scss => main file of styles */
/*

Media queries

0 - 600px:          Phone
601px - 1000px:      Tablet portrait
1001px - 1200px:     Tablet landscape
1201px +:           Normal styles apply
---------------------------------------
$breakpoint argument choices:
    - phone
    - tab-port
    - tab-land

*/
/* _variables.scss => variables declarations */
:root {
  /* colors */
  --color-primary: #1c81e0;
  --color-primary-light: #2998ff;
  --color-primary-dark: #5643fa;
  --color-success: #55c57a;
  --color-error: #ff4f30;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --color-black: #000;
  --color-white: #fff;
  /* box-shadows */
  --shadow-tiny: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  --shadow-light: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  --shadow-medium: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  /* font-sizes */
  --default-font-size: 1.6rem; }

/* _base.scss => initial configurations and declarations */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: var(--color-grey-light-1); }

.u-center-text {
  text-align: center !important; }

.u-center-box {
  margin: 0 auto !important; }

.u-margin-width {
  margin: 0 2rem; }

/* _typography.scss => typographys styles and configurations */
body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: var(--color-grey-dark-3); }

.heading-primary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 400;
  display: inline-block;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  -webkit-background-clip: text;
  color: transparent;
  /* 600px */ }
  .heading-primary:hover {
    text-shadow: var(--shadow-light);
    transform: translateY(-0.4rem); }
  @media only screen and (max-width: 37.5em) {
    .heading-primary {
      font-size: 2.5rem; } }

.heading-secondary {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  letter-spacing: 0.2rem;
  /* 600px */ }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2rem; } }

.paragraph {
  font-size: var(--default-font-size); }

.main {
  max-width: 100rem;
  min-height: 50rem;
  margin: 8rem auto;
  box-shadow: var(--shadow-dark);
  border-radius: 0.4rem;
  overflow: hidden;
  /* 1200 */
  /* 1000px */
  /* 600px */ }
  @media only screen and (max-width: 75em) {
    .main {
      max-width: 90rem; } }
  @media only screen and (max-width: 62.5em) {
    .main {
      max-width: 50rem; } }
  @media only screen and (max-width: 37.5em) {
    .main {
      max-width: 100%;
      margin: 0; } }

.footer {
  padding: 2rem 3rem;
  background-color: rgba(51, 51, 51, 0.7);
  display: flex;
  justify-content: center;
  align-content: center;
  /* 600px */ }
  @media only screen and (max-width: 37.5em) {
    .footer {
      flex-direction: column; } }
  .footer__link {
    /* 600px */ }
    @media only screen and (max-width: 37.5em) {
      .footer__link {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2rem; } }

.container {
  background-color: var(--color-grey-light-3);
  display: flex;
  /* 1000px */ }
  @media only screen and (max-width: 62.5em) {
    .container {
      flex-direction: column; } }
  .container__primary {
    width: 60%;
    padding: 3rem;
    display: flex;
    align-items: center;
    /* 1000px */ }
    @media only screen and (max-width: 62.5em) {
      .container__primary {
        width: 100%; } }
  .container__secondary {
    width: 40%;
    padding: 3rem;
    background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
    background-size: cover;
    /* 1000px */ }
    @media only screen and (max-width: 62.5em) {
      .container__secondary {
        width: 100%; } }

.logo-box {
  width: 20%; }
  .logo-box__logo {
    width: 100%; }

.text-box {
  margin: 2rem 0;
  color: var(--color-white); }

.form-box__group:not(:last-child) {
  margin-bottom: 2rem; }

.form-box__input {
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: var(--default-font-size);
  color: var(--color-grey-dark-1);
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 0.4rem;
  background-color: rgba(255, 255, 255, 0.7);
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s; }
  .form-box__input:valid {
    border-bottom: 0.3rem solid var(--color-success); }
  .form-box__input:focus {
    outline: none;
    box-shadow: var(--shadow-light);
    border-bottom: 0.3rem solid var(--color-success); }
  .form-box__input:focus:invalid {
    border-bottom: 0.3rem solid var(--color-error); }
  .form-box__input::-webkit-input-placeholder {
    color: var(--color-grey-dark-1); }

.form-box__label {
  color: var(--color-grey-dark-1);
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s; }

.form-box__input:placeholder-shown + .form-box__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form-box__input:not(:placeholder-shown):invalid {
  border-bottom: 0.3rem solid var(--color-error); }

.form-box__text {
  color: var(--color-white); }

.btn {
  width: 100%;
  font-size: 1.4rem;
  text-transform: uppercase;
  border: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 0.4rem;
  transition: all 0.2s;
  cursor: pointer; }
  .btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: var(--shadow-medium); }
  .btn:active, .btn:focus {
    outline: none;
    transform: translateY(-0.1rem);
    box-shadow: var(--shadow-tiny); }
  .btn--primary {
    background-color: rgba(255, 255, 255, 0.7); }
    .btn--primary:hover, .btn--primary:focus {
      background-color: rgba(255, 255, 255, 0.8); }

.link {
  color: var(--color-white);
  font-weight: 600; }
  .link:hover {
    text-shadow: var(--shadow-medium); }
